﻿@model IEnumerable<ezilineezitaskernew.Models.tbl_download>

<style>
    .main-nav-container {
        display: none !important;
    }

    .content {
        margin-top: 10px !important;
    }

    #DataTables_Table_0_length {
        display: none !important;
    }

    .dataTables_filter {
        display: none !important;
    }
</style>
<!-- BEGIN: Datatable -->
<div class="intro-y datatable-wrapper box p-5 mt-5">

    <table class="table table-report table-report--bordered display datatable w-full">
        <thead>
            <tr>
                <th class="whitespace-no-wrap">File Name</th>
                <th class="whitespace-no-wrap">Download</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td class="border-b">
                        <div class="font-medium whitespace-no-wrap" id="filename">@item.FileName</div>
                    </td>
                    <td>
                        <div>
                            @*@Html.ActionLink("Download", "Downloadfile", new { @file_name = item.FileName })*@
                            <a href='@Url.Action("Downloadfile", "Home",new {@file_name = item.FileName  })'><i class='fas fa-download'></i></a>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<!-- END: Datatable -->
