﻿<style>

    .mini-report-chart .w-24 {
        width: 9rem !important;
    }

    #superlarge-modal-size-preview .h-64 {
        height: 30rem !important;
    }

    .mini-report-chart {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    #superlarge-modal-size-preview .image-fit > img {
        height: auto !important;
    }

    .font-size-icons-time {
        font-size: 20px !important;
        color: rgba(247, 139, 0, var(--text-opacity));
    }

    .font-size-icons-project {
        font-size: 20px !important;
        color: rgba(145, 199, 20, var(--text-opacity));
    }

    .font-size-icons-idle {
        font-size: 20px !important;
        color: rgba(251, 197, 0, var(--text-opacity));
    }

    .font-size-icons-tasks {
        font-size: 20px !important;
        color: rgba(49, 96, 216, var(--text-opacity));
    }

    .font-size-icons-bio {
        font-size: 20px !important;
        color: rgba(211, 41, 41, var(--text-opacity));
    }

    .user-text i.fas.fa-user {
        margin-right: 10px;
    }

    .user-date i.far.fa-clock {
        margin-right: 10px;
    }

    .justify-content-space-between {
        justify-content: space-between;
    }

    .preview {
        height: auto;
    }

    .right-left-arrow-images {
        display: none;
    }

    .with-out-right-left-arrow-images {
        display: none;
    }

    svg.w-8.h-8.loader {
        align-items: center;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        z-index: 9999999;
        font-size: 50px !important;
        display: none;
    }

    .loader-container {
        display: none;
    }

        .loader-container:after {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0,0,0,0.6);
            width: 100%;
            height: 170vh;
            z-index: 9999999;
            min-height: 100%;
        }

    /*.content:after {
        content: "";
        position: absolute;
         top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        height: 100vh;
        z-index: 9999999;
        min-height: 100vh;
    }*/

</style>
<div id="xyz"></div>
<!-- BEGIN: Content -->
<div class="content">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
            <div class="col-span-6 sm:col-span-3 xl:col-span-12 flex flex-col justify-end items-center loader-container">
                <i data-loading-icon="ball-triangle" class="w-8 h-8 loader"></i>
            </div>
            <!-- BEGIN: General Report -->
            <div class="col-span-12 mt-8">
                <div class="intro-y flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5" id="Reports-heading">Today Report</h2>
                    <a href="" class="ml-auto flex text-theme-1"> <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i> Reload Data </a>
                </div>
                <div class="grid grid-cols-12 gap-6 mt-5">
                    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y totalhours">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <span class="font-size-icons-time"><i class="fas fa-stopwatch"></i></span>
                                    @*<i data-feather="shopping-cart" class="report-box__icon text-theme-10"></i>*@

                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6 " id="timetracked">00</div>
                                <div class="text-base text-gray-600 mt-1 whitespace-no-wrap ">Total Time Tracked</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y ">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    @*<i data-feather="shopping-cart" class="report-box__icon text-theme-10"></i>*@
                                    <span class="font-size-icons-idle"><i class="fas fa-stopwatch"></i></span>
                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6" id="idleminutes">00</div>
                                <div class="text-base text-gray-600 mt-1">Idle Minutes</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y totalprojects">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    @*<i data-feather="shopping-cart" class="report-box__icon text-theme-10"></i>*@
                                    <span class="font-size-icons-project"><i class="fas fa-project-diagram"></i></span>

                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6 " id="totalproject">00</div>
                                <div class="text-base text-gray-600 mt-1">Total Projects</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-2 intro-y totalhours">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <span class="font-size-icons-tasks"><i class="fas fa-tasks"></i></span>
                                    @*<i data-feather="shopping-cart" class="report-box__icon text-theme-10"></i>*@

                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6" id="totaltask">00</div>
                                <div class="text-base text-gray-600 mt-1">Total Tasks</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 sm:col-span-6 xl:col-span-4 intro-y totalbiohours">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    @*<i data-feather="shopping-cart" class="report-box__icon text-theme-10"></i>*@
                                    <span class="font-size-icons-bio"><i class="fas fa-fingerprint"></i></span>

                                </div>
                                <div class="text-3xl font-bold leading-8 mt-6" id="biohours">0</div>
                                <div class="text-base text-gray-600 mt-1">Biomatric Hours</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: General Report -->
            <!-- BEGIN: Sales Report -->
            <div class="col-span-12 lg:col-span-12 mt-8">
                <div class="intro-y block sm:flex items-center h-10">
                    <h2 class="text-lg font-medium truncate mr-5">
                        Sales Report
                    </h2>
                </div>
                <!-- BEGIN: Vertical Bar Chart -->
                <div class="intro-y box">
                    <div class="p-5" id="vertical-bar-chart">
                        <div class="preview">
                            <div id="chartdiv" style="height:100%;width:100%;"></div>
                            @*<div id="timelinechart"></div>*@
                        </div>
                        @*<div class="source-code hidden">
                                <button data-target="#copy-vertical-bar-chart" class="copy-code button button--sm border flex items-center text-gray-700"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Copy code </button>
                                <div class="overflow-y-auto h-64 mt-3">
                                    <pre class="source-preview" id="copy-vertical-bar-chart"> <code class="text-xs p-0 rounded-md html pl-5 pt-8 pb-4 -mb-10 -mt-10"> HTMLOpenTagcanvas id=&quot;vertical-bar-chart-widget&quot; height=&quot;200&quot;HTMLCloseTagHTMLOpenTag/canvasHTMLCloseTag </code> </pre>
                                </div>
                            </div>*@
                    </div>
                </div>
                <!-- END: Vertical Bar Chart -->
            </div>
            <!-- END: Sales Report -->
            <!-- BEGIN: Screenshots  -->
            <div class="col-span-12 sm:col-span-12 xxl:col-span-12 mt-8">
                <div class="mini-report-chart box p-5 full-width">
                    <div class="flex items-center" data-toggle="modal" data-target="#superlarge-modal-size-preview">
                        @{
                            if (Session["recentscreenshots"] != null)
                            {
                                var screenshotslist = (List<ezilineezitaskernew.Models.sp_getrecentscreenshots_Result>)Session["recentscreenshots"];
                                if (screenshotslist != null)
                                {
                                    foreach (var item in screenshotslist)
                                    {

                                        <div class="col-span-6 sm:col-span-12 xl:col-span-12 mt-8">
                                            <div class="flex-justifiy flex-wrap">
                                                <div class="w-24 h-24 relative image-fit mb-5 mr-5 cursor-pointer zoom-in">
                                                    <button value="@item.Image" data-toggle="modal" data-target="#basic-modal-preview" class="testing"><img class="rounded-md" alt="Midone Tailwind HTML Admin Template" src="@item.Image"></button>
                                                    <div class="tooltip w-5 h-5 flex items-center justify-center absolute rounded-full text-white bg-theme-6 right-0 top-0 -mr-2 -mt-2 tooltipstered"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x w-4 h-4"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg> </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- End: Screenshots  -->
        </div>
    </div>
</div>
<!-- End: Screenshots  -->
<!-- END: Content -->
@*<div class="slider mx-6 fade-mode">
        <div class="h-64 px-2">
            <div class="h-full image-fit rounded-md overflow-hidden"> <img alt="Midone Tailwind HTML Admin Template" src="dist/images/preview-4.jpg" /> </div>
        </div>
        </div>
        <div class="h-64 px-2">
            <div class="h-full image-fit rounded-md overflow-hidden"> <img alt="Midone Tailwind HTML Admin Template" src="dist/images/preview-10.jpg" /> </div>
        </div>
        <div class="h-64 px-2">
            <div class="h-full image-fit rounded-md overflow-hidden"> <img alt="Midone Tailwind HTML Admin Template" src="dist/images/preview-5.jpg" /> </div>
        </div>
    </div>*@


<!--BEGIN: Screenshot Modal -->
<div class="modal" id="superlarge-modal-size-preview">
    <div class="modal__content modal__content--xl p-10 text-center">
        <div class="p-5" id="fade-animation-slider">
            <div class="preview">
                <div class="slider mx-6 fade-mode">
                    @{
                        if (Session["recentscreenshots"] != null)
                        {
                            var screenshotslist = (List<ezilineezitaskernew.Models.sp_getrecentscreenshots_Result>)Session["recentscreenshots"];
                            if (screenshotslist != null)
                            {
                                foreach (var item in screenshotslist)
                                {
                                    <div class="h-64 px-2">
                                        <div class="h-full image-fit rounded-md overflow-hidden h-full-override with-out-right-left-arrow-images">
                                            <img alt="Midone Tailwind HTML Admin Template" src="@item.Image" class="img-screenshot" id="img-screenshot" />
                                        </div>

                                        <div class="h-full image-fit rounded-md overflow-hidden h-full-override right-left-arrow-images">
                                            <img alt="Midone Tailwind HTML Admin Template" src="" class="img-screenshot-right-left-arrow-images" id="img-screenshot-right-left-arrow-images" />
                                        </div>

                                        <div class="user-detail-onscreenshot">
                                            <div class="flex justify-content-space-between">
                                                <div class="user-text"><i class="fas fa-user"></i>@item.Username</div>
                                                <div class="user-date"><i class="far fa-clock"></i>@item.Date.Value.ToShortDateString()</div>
                                                @*<i data-feather="shopping-cart" class="report-box__icon text-theme-10"></i>*@
                                            </div>

                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<!--END: Screenshot Modal -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script>
    $(document).ready(function () {
        ChartHelper.LoadChart();
        var username = "";

        $("#defaultactive").click(function () {
            var user = $("#users-ddl option:selected").text();
            if (user != "" && user != "Please Select a Users") {
                var _Todayfiltertext = $("#defaultactive").text();
                $("#Reports-heading").text(_Todayfiltertext + " Report(" + user+")");
            }
            else {
                 var _Todayfiltertext = $("#defaultactive").text();
                  $("#Reports-heading").text(_Todayfiltertext + " Report");
            }

        });
        $("#yesterdayactive").click(function () {

            var user = $("#users-ddl option:selected").text();
            if (user != "" && user!= "Please Select a Users") {
                var _yesterdayfiltertext = $("#yesterdayactive").text();
                $("#Reports-heading").text(_yesterdayfiltertext + " Report("+user+")");
            }
            else {
                var _yesterdayfiltertext = $("#yesterdayactive").text();
                $("#Reports-heading").text(_yesterdayfiltertext + " Report");
            }
         });
        $("#7dayactive").click(function () {
            var user = $("#users-ddl option:selected").text();
            if (user != "" && user != "Please Select a Users") {
                var _7dayfiltertext = $("#7dayactive").text();
                $("#Reports-heading").text(_7dayfiltertext + " Report(" + user+")");
            }
            else {
                var _7dayfiltertext = $("#7dayactive").text();
                $("#Reports-heading").text(_7dayfiltertext + " Report");
            }


         });
        $("#30daysactive").click(function () {
             var user = $("#users-ddl option:selected").text();
            if (user != "" && user != "Please Select a Users") {
                var _30filtertext = $("#30daysactive").text();
                $("#Reports-heading").text(_30filtertext + " Report(" + user+")");
            }
            else {
                  var _30filtertext = $("#30daysactive").text();
                $("#Reports-heading").text(_30filtertext + " Report");
            }

        });
        $("#daterange-picker").click(function () {
             var user = $("#users-ddl option:selected").text();
            if (user != "" && user != "Please Select a Users") {
                var daterangetext = $("#daterange-picker").text();
                $("#Reports-heading").text(daterangetext + " Report(" + user+")");
            }
            else {
                  var daterangetext = $("#daterange-picker").text();
                $("#Reports-heading").text(daterangetext + " Report");
            }
        });
        $(".totalhours").click(function () {
            var majorheading = $("#Reports-heading").text();
            var user = $("#users-ddl option:selected").text();

            if (majorheading == "Date Range Report") {
                var fromdate = $(".fromdate").val();
                var todate = $(".todate").val();
                  $.ajax({
                    url: '@Url.Action("Usertotalhours","Home")',
                    type: "GET",
                    data: {
                        datalist: $("#Reports-heading").text(),
                        fromdate: fromdate,
                        todate:todate
                    },
                    datatype: "JSON",
                    success: function (res) {

                       // $(".content").hide();
                        // $("#xyz").html(res);
                        window.location.href = "/Home/Usertotalhours?datalist=" + $("#Reports-heading").text() + "&fromdate=" + fromdate + "&todate=" + todate;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

            }
            else if (majorheading == "Date Range Report(" + user + ")")
            {
                alert("running");
                var fromdate = $(".fromdate").val();
                var todate = $(".todate").val();
                  $.ajax({
                    url: '@Url.Action("Usertotalhours","Home")',
                    type: "GET",
                    data: {
                        report: $("#Reports-heading").text(),
                        fromdate: fromdate,
                        todate: todate,
                        username: user
                    },
                    datatype: "JSON",
                    success: function (res) {

                       // $(".content").hide();
                        // $("#xyz").html(res);
                        window.location.href = "/Home/Usertotalhours?report=" + $("#Reports-heading").text() + "&fromdate=" + fromdate + "&todate=" + todate + "&username=" + user;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            else {

                 if (user != "") {
                 $.ajax({
                    url: '@Url.Action("Usertotalhours","Home")',
                    type: "GET",
                    data: {
                        username: user,
                        report:$("#Reports-heading").text()
                    },
                    datatype: "html",
                    success: function (res) {
                        console.log(res);
                       // $(".content").hide();
                       // $("#xyz").html(res);
                         window.location.href = "/Home/Usertotalhours?username="+$("#users-ddl option:selected").text()+"&report="+$("#Reports-heading").text();
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
                 else {
                 $.ajax({
                url: '@Url.Action("Usertotalhours","Home")',
                type: "GET",
                datatype:"html",
                data: {
                    datalist: $("#Reports-heading").text()
                },
                success: function (res) {
                   // console.log(res);
                   // $(".content").hide();
                    // $("#xyz").html(res);
                    window.location.href = "/Home/Usertotalhours?datalist=" + $("#Reports-heading").text();
                },
                error: function (err) {
                    console.log(err);
                }
            });
            }
            }
        });
        $(".totalprojects").click(function () {
         var majorheading = $("#Reports-heading").text();
         var user = $("#users-ddl option:selected").text();
            if (majorheading == "Date Range Report") {
                 var fromdate = $(".fromdate").val();
                 var todate = $(".todate").val();
                  $.ajax({
                  url: '@Url.Action("Usertotalprojects","Home")',
                  type: "GET",
                  datatype: "JSON",
                  data: {
                    datalist: $("#Reports-heading").text(),
                    fromdate: fromdate,
                      todate: todate,

                        },
                success: function (res) {
                    console.log(res);
                    // $(".content").hide();
                    //$("#xyz").html(res);
                    window.location.href = "/Home/Usertotalprojects?datalist=" + $("#Reports-heading").text() + "&fromdate=" + fromdate + "&todate=" + todate;
                },
                error: function (err) {
                    console.log(err);
                }
            });
            }
            else if (majorheading == "Date Range Report(" + user + ")") {
                 var fromdate = $(".fromdate").val();
                 var todate = $(".todate").val();
                  $.ajax({
                  url: '@Url.Action("Usertotalprojects","Home")',
                  type: "GET",
                  datatype: "JSON",
                  data: {
                    report: $("#Reports-heading").text(),
                    fromdate: fromdate,
                    todate: todate,
                    username: user
                        },
                success: function (res) {

                    // $(".content").hide();
                    //$("#xyz").html(res);
                    window.location.href = "/Home/Usertotalprojects?report=" + $("#Reports-heading").text() + "&fromdate=" + fromdate + "&todate=" + todate + "&username=" + user;
                },
                error: function (err) {
                    console.log(err);
                }
            });
            }
            else {


                if (user != "") {

                $.ajax({
                url: '@Url.Action("Usertotalprojects","Home")',
                type: "GET",
                 data: {
                        username: user,
                        report:$("#Reports-heading").text()
                    },
                datatype: "html",
                success: function (res) {

                    //$(".content").hide();
                    //$("#xyz").html(res);
                    window.location.href = "/Home/Usertotalprojects?username=" + $("#users-ddl option:selected").text() + "&report=" + $("#Reports-heading").text();
                },
                error: function (err) {
                    console.log(err);
                }
            });
                }
              else  {

                  $.ajax({
                url: '@Url.Action("Usertotalprojects","Home")',
                type: "GET",
                datatype: "JSON",
                data: {
                    datalist: $("#Reports-heading").text()
                },
                success: function (res) {
                    console.log(res);
                    // $(".content").hide();
                    //$("#xyz").html(res);
                    window.location.href = "/Home/Usertotalprojects?datalist="+$("#Reports-heading").text();
                },
                error: function (err) {
                    console.log(err);
                }
            });
            }
            }

        });
        $(".totalbiohours").click(function () {
            var user = $("#users-ddl option:selected").text();
            var majorheading = $("#Reports-heading").text();

            if (majorheading == "Date Range Report") {
                var fromdate = $(".fromdate").val();
                var todate = $(".todate").val();
                $.ajax({
                    url: '@Url.Action("Usertotalbiohours","Home")',
                    type: "GET",
                    datatype: "JSON",
                    data: {
                        datalist: $("#Reports-heading").text(),
                        fromdate: fromdate,
                        todate: todate
                    },
                    success: function (res) {
                        window.location.href = "/Home/Usertotalbiohours?datalist=" + $("#Reports-heading").text() + "&fromdate=" + fromdate + "&todate=" + todate;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            else if (majorheading == "Date Range Report(" + user + ")") {

                var fromdate = $(".fromdate").val();
                var todate = $(".todate").val();
                $.ajax({
                    url: '@Url.Action("Usertotalbiohours","Home")',
                    type: "GET",
                    datatype: "JSON",
                    data: {
                        report: $("#Reports-heading").text(),
                        fromdate: fromdate,
                        todate: todate,
                        username: user
                    },
                    success: function (res) {
                        window.location.href = "/Home/Usertotalbiohours?report=" + $("#Reports-heading").text() + "&fromdate=" + fromdate + "&todate=" + todate + "&username=" + user;
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
             }

            else {

            if(user != "")
              {
               $.ajax({
                url: '@Url.Action("Usertotalbiohours","Home")',
                   type: "GET",
                  data: {
                        username: user,
                        report:$("#Reports-heading").text()
                    },
                datatype: "html",
                success: function (res) {
                    window.location.href = "/Home/Usertotalbiohours?username=" + $("#users-ddl option:selected").text() + "&report=" + $("#Reports-heading").text();
                },
                error: function (err) {
                    console.log(err);
                }
            });
          }
            else{
                $.ajax({
                url: '@Url.Action("Usertotalbiohours","Home")',
                type: "GET",
                datatype: "JSON",
                 data: {
                    datalist: $("#Reports-heading").text()
                },
                success: function (res) {
                    window.location.href = "/Home/Usertotalbiohours?datalist="+$("#Reports-heading").text();
                },
                error: function (err) {
                    console.log(err);
                }
            });
               }
            }
        });
        $(".testing").click(function () {
            var imgsrc = $(this).val();
            if (imgsrc != null) {

                // $('.h-full.image-fit.rounded-md.overflow-hidden.h-full-override.with-out-right-left-arrow-images').hide();
                $('.with-out-right-left-arrow-images').hide();
                $('.right-left-arrow-images').show();
                $(".img-screenshot-right-left-arrow-images").attr("src", imgsrc);
                $("#superlarge-modal-size-preview").modal("show");

                //var s = "";
                // $('.h-full.image-fit.rounded-md.overflow-hidden.h-full-override.with-out-right-left-arrow-images').hide();
                //  s = '<div class="h-full image-fit rounded-md overflow-hidden h-full-override.with-out-right-left-arrow-images"><img alt="Midone Tailwind HTML Admin Template" src="' + imgsrc + '" class="img-screenshot" id="img-screenshot" /></div>'
                //  $('.h-64.px-2').html(s);
            }

        });

        $(this).on('click', '.slick-prev.slick-arrow', function () {

            $('.with-out-right-left-arrow-images').show();
            $('.right-left-arrow-images').hide();
        });

        $(this).on('click', '.slick-next.slick-arrow', function () {
            $('.with-out-right-left-arrow-images').show();
            $('.right-left-arrow-images').hide();
        });

        $.ajax({
            url: "/Home/GetTodayReport",
            type: "GET",
            datatype: "JSON",
            success: function (data) {
                console.log(data);
                var todaytime = data[0].todayhours;
                var Idletime = data[0].idlehours;
                var project = data[0].todayproject[0];
                var Task = data[0].todaytasks[0];
                var biohours = data[0].Todaybiomatric[0];

                $("#timetracked").html(todaytime);
                $("#idleminutes").html(Idletime);
                $("#totalproject").html(project);
                $("#totaltask").html(Task);
                $("#biohours").html(biohours);
            },
            error: function (err) {
                console.log(err);
                console.log("error")
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#30daysactive").click(function () {
            $(".preview").css("height", "1000px");

            ChartHelper.LoadChart();
        });
        var ChartManager = {
            GetChartData: function () {
                var ObjLeaveType = "";

                var jsonParam = "";
                var serviceUrl = "/Home/Getcompanypast30daysLinedatas";
                ChartManager.GetJsonResult(serviceUrl, jsonParam, false, false, onSuccess, onFailed);
                function onSuccess(jsonData) {
                    ObjLeaveType = jsonData;
                    ObjLeaveType[0].name;
                    ObjLeaveType[0].fromDate;
                    ObjLeaveType[0].toDate;

                }
                function onFailed(error) {
                    alert(error.statusText);

                }
                console.log(ObjLeaveType);
                return ObjLeaveType;
            },


            GetJsonResult: function (serviceUrl, jsonParams, isAsync, isCache, successCallback, errorCallback) {
                $.ajax({
                    type: "Get",
                    async: isAsync,
                    cache: isCache,
                    url: serviceUrl,
                    data: jsonParams,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successCallback,
                    error: errorCallback


                });



            },

        };
        var ChartHelper = {

            LoadChart: function () {

                var data = ChartManager.GetChartData();
                objectLength = Object.keys(data).length
                console.log(objectLength);
                am4core.ready(function () {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    var chart = am4core.create("chartdiv", am4charts.XYChart);
                    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                    chart.paddingRight = 30;
                    chart.dateFormatter.inputDateFormat = "HH:mm:ss";

                    var colorSet = new am4core.ColorSet();
                    colorSet.saturation = 0.4;
                    var arr = [];
                    //chart.data = [{
                    //    name: "John",
                    //    fromDate: "2018-01-01 08:00:00",
                    //    toDate: "2018-01-01 10:00:00"}]
                    // chart.data = data;

                    var data2 = [];

                    for (i = 0; i < objectLength; i++) {
                        var v = { name: data[i].name, fromDate: data[i].fromDate, toDate: data[i].toDate }
                        data2.push(v);
                    }

                    console.log(typeof (data2));
                    chart.data = data2;
                    //  arr.push(data);
                    //console.log(arr);
                    //  chart.data = arr;
                    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "name";

                    categoryAxis.renderer.grid.template.location = 0;
                    categoryAxis.renderer.inversed = true;

                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.dateFormatter.dateFormat = "HH:mm:ss";;
                    dateAxis.renderer.minGridDistance = 70;
                    dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
                    //   dateAxis.max = new Date(2030, 0, 1, 24, 0, 0, 0).getTime();
                    dateAxis.strictMinMax = true;
                    dateAxis.renderer.tooltipLocation = 0;

                    var series1 = chart.series.push(new am4charts.ColumnSeries());
                    series1.columns.template.width = am4core.percent(80);
                    series1.columns.template.tooltipText = "{name}: {openDateX} - {dateX}";

                    series1.dataFields.openDateX = "fromDate";
                    series1.dataFields.dateX = "toDate";
                    series1.dataFields.categoryY = "name";
                    series1.columns.template.propertyFields.fill = "color"; // get color from data
                    series1.columns.template.propertyFields.stroke = "color";
                    series1.columns.template.strokeOpacity = 1;

                    chart.scrollbarX = new am4core.Scrollbar();





                });

            }

        };
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#7dayactive").click(function () {
            $(".preview").css("height", "400px");
            ChartHelper.LoadChart();
        });
        var ChartManager = {
            GetChartData: function () {
                var ObjLeaveType = "";
                var jsonParam = "";
                var serviceUrl = "/Home/Getcompanypast7daysLinedatas";
                ChartManager.GetJsonResult(serviceUrl, jsonParam, false, false, onSuccess, onFailed);
                function onSuccess(jsonData) {
                    ObjLeaveType = jsonData;
                    ObjLeaveType[0].name;
                    ObjLeaveType[0].fromDate;
                    ObjLeaveType[0].toDate;

                }
                function onFailed(error) {
                    alert(error.statusText);

                }
                console.log(ObjLeaveType);
                return ObjLeaveType;
            },


            GetJsonResult: function (serviceUrl, jsonParams, isAsync, isCache, successCallback, errorCallback) {
                $.ajax({
                    type: "Get",
                    async: isAsync,
                    cache: isCache,
                    url: serviceUrl,
                    data: jsonParams,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successCallback,
                    error: errorCallback


                });



            },

        };
        var ChartHelper = {

            LoadChart: function () {

                var data = ChartManager.GetChartData();
                objectLength = Object.keys(data).length
                console.log(objectLength);
                am4core.ready(function () {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    var chart = am4core.create("chartdiv", am4charts.XYChart);
                    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                    chart.paddingRight = 30;
                    chart.dateFormatter.inputDateFormat = "HH:mm:ss";

                    var colorSet = new am4core.ColorSet();
                    colorSet.saturation = 0.4;
                    var arr = [];
                    //chart.data = [{
                    //    name: "John",
                    //    fromDate: "2018-01-01 08:00:00",
                    //    toDate: "2018-01-01 10:00:00"}]
                    // chart.data = data;

                    var data2 = [];

                    for (i = 0; i < objectLength; i++) {



                        var v = { name: data[i].name, fromDate: data[i].fromDate, toDate: data[i].toDate }

                        data2.push(v);


                    }

                    console.log(typeof (data2));


                    chart.data = data2;
                    //  arr.push(data);
                    //console.log(arr);
                    //  chart.data = arr;
                    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "name";

                    categoryAxis.renderer.grid.template.location = 0;
                    categoryAxis.renderer.inversed = true;

                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.dateFormatter.dateFormat = "HH:mm:ss";;
                    dateAxis.renderer.minGridDistance = 70;
                    dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
                    //   dateAxis.max = new Date(2030, 0, 1, 24, 0, 0, 0).getTime();
                    dateAxis.strictMinMax = true;
                    dateAxis.renderer.tooltipLocation = 0;

                    var series1 = chart.series.push(new am4charts.ColumnSeries());
                    series1.columns.template.width = am4core.percent(80);
                    series1.columns.template.tooltipText = "{name}: {openDateX} - {dateX}";

                    series1.dataFields.openDateX = "fromDate";
                    series1.dataFields.dateX = "toDate";
                    series1.dataFields.categoryY = "name";
                    series1.columns.template.propertyFields.fill = "color"; // get color from data
                    series1.columns.template.propertyFields.stroke = "color";
                    series1.columns.template.strokeOpacity = 1;

                    chart.scrollbarX = new am4core.Scrollbar();





                });

            }

        };
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#yesterdayactive").click(function () {
            $(".preview").css("height", "400px");
            ChartHelper.LoadChartYesterday();
        });

        var ChartManager = {
            GetChartDataYesterday: function () {
                var ObjLeaveType = "";
                var jsonParam = "";
                var serviceUrl = "/Home/GetcompanyyesterdayTimeLinedatas";
                ChartManager.GetJsonResult(serviceUrl, jsonParam, false, false, onSuccess, onFailed);
                function onSuccess(jsonData) {
                    ObjLeaveType = jsonData;
                    ObjLeaveType[0].name;
                    ObjLeaveType[0].fromDate;
                    ObjLeaveType[0].toDate;
                }
                function onFailed(error) {
                    alert(error.statusText);
                }
                console.log(ObjLeaveType);
                return ObjLeaveType;
            },
            GetJsonResult: function (serviceUrl, jsonParams, isAsync, isCache, successCallback, errorCallback) {
                $.ajax({
                    type: "Get",
                    async: isAsync,
                    cache: isCache,
                    url: serviceUrl,
                    data: jsonParams,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successCallback,
                    error: errorCallback
                });
            },
        };
        var ChartHelper = {
            LoadChartYesterday: function () {
                var data = ChartManager.GetChartDataYesterday();
                objectLength = Object.keys(data).length
                console.log(objectLength);
                am4core.ready(function () {
                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end
                    var chart = am4core.create("chartdiv", am4charts.XYChart);
                    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
                    chart.paddingRight = 30;
                    chart.dateFormatter.inputDateFormat = "HH:mm:ss";
                    var colorSet = new am4core.ColorSet();
                    colorSet.saturation = 0.4;
                    var arr = [];
                    //chart.data = [{
                    //    name: "John",
                    //    fromDate: "2018-01-01 08:00:00",
                    //    toDate: "2018-01-01 10:00:00"}]
                    // chart.data = data;
                    var data2 = [];
                    for (i = 0; i < objectLength; i++) {
                        var v = { name: data[i].name, fromDate: data[i].fromDate, toDate: data[i].toDate }
                        data2.push(v);
                    }
                    console.log(typeof (data2));
                    chart.data = data2;
                    //  arr.push(data);
                    //console.log(arr);
                    //  chart.data = arr;
                    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "name";
                    categoryAxis.renderer.grid.template.location = 0;
                    categoryAxis.renderer.inversed = true;
                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.dateFormatter.dateFormat = "HH:mm:ss";
                    dateAxis.renderer.minGridDistance = 70;
                    dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
                    //   dateAxis.max = new Date(2030, 0, 1, 24, 0, 0, 0).getTime();
                    dateAxis.strictMinMax = true;
                    dateAxis.renderer.tooltipLocation = 0;
                    var series1 = chart.series.push(new am4charts.ColumnSeries());
                    series1.columns.template.width = am4core.percent(80);
                    series1.columns.template.tooltipText = "{name}: {openDateX} - {dateX}";
                    series1.dataFields.openDateX = "fromDate";
                    series1.dataFields.dateX = "toDate";
                    series1.dataFields.categoryY = "name";
                    series1.columns.template.propertyFields.fill = "color"; // get color from data
                    series1.columns.template.propertyFields.stroke = "color";
                    series1.columns.template.strokeOpacity = 1;
                    chart.scrollbarX = new am4core.Scrollbar();
                });
            }
        };
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#defaultactive").click(function () {
            $(".preview").css("height", "auto");
            ChartHelper.LoadChart();
        });
        var ChartManager = {
            GetChartData: function () {
                var ObjLeaveType = "";

                var jsonParam = "";
                var serviceUrl = "/Home/GetcompanytodayTimeLinedatas";
                ChartManager.GetJsonResult(serviceUrl, jsonParam, false, false, onSuccess, onFailed);
                function onSuccess(jsonData) {
                    ObjLeaveType = jsonData;
                    ObjLeaveType[0].name;
                    ObjLeaveType[0].fromDate;
                    ObjLeaveType[0].toDate;

                }
                function onFailed(error) {
                    alert(error.statusText);

                }
                console.log(ObjLeaveType);
                return ObjLeaveType;
            },


            GetJsonResult: function (serviceUrl, jsonParams, isAsync, isCache, successCallback, errorCallback) {
                $.ajax({
                    type: "Get",
                    async: isAsync,
                    cache: isCache,
                    url: serviceUrl,
                    data: jsonParams,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successCallback,
                    error: errorCallback


                });



            },

        };
        var ChartHelper = {

            LoadChart: function () {

                var data = ChartManager.GetChartData();
                objectLength = Object.keys(data).length
                console.log(objectLength);
                am4core.ready(function () {

                    // Themes begin
                    am4core.useTheme(am4themes_animated);
                    // Themes end

                    var chart = am4core.create("chartdiv", am4charts.XYChart);
                    chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                    chart.paddingRight = 30;
                    chart.dateFormatter.inputDateFormat = "HH:mm:ss";

                    var colorSet = new am4core.ColorSet();
                    colorSet.saturation = 0.4;
                    var arr = [];
                    //chart.data = [{
                    //    name: "John",
                    //    fromDate: "2018-01-01 08:00:00",
                    //    toDate: "2018-01-01 10:00:00"}]
                    // chart.data = data;

                    var data2 = [];

                    for (i = 0; i < objectLength; i++) {



                        var v = { name: data[i].name, fromDate: data[i].fromDate, toDate: data[i].toDate }

                        data2.push(v);


                    }

                    console.log(typeof (data2));


                    chart.data = data2;
                    //  arr.push(data);
                    //console.log(arr);
                    //  chart.data = arr;
                    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "name";

                    categoryAxis.renderer.grid.template.location = 0;
                    categoryAxis.renderer.inversed = true;

                    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                    dateAxis.dateFormatter.dateFormat = "HH:mm:ss";;
                    dateAxis.renderer.minGridDistance = 70;
                    dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
                    //   dateAxis.max = new Date(2030, 0, 1, 24, 0, 0, 0).getTime();
                    dateAxis.strictMinMax = true;
                    dateAxis.renderer.tooltipLocation = 0;

                    var series1 = chart.series.push(new am4charts.ColumnSeries());
                    series1.columns.template.width = am4core.percent(80);
                    series1.columns.template.tooltipText = "{name}: {openDateX} - {dateX}";

                    series1.dataFields.openDateX = "fromDate";
                    series1.dataFields.dateX = "toDate";
                    series1.dataFields.categoryY = "name";
                    series1.columns.template.propertyFields.fill = "color"; // get color from data
                    series1.columns.template.propertyFields.stroke = "color";
                    series1.columns.template.strokeOpacity = 1;

                    chart.scrollbarX = new am4core.Scrollbar();





                });

            }

        };
    });

</script>
<script type="text/javascript">
    var ChartManager = {
        GetChartData: function () {
            var ObjLeaveType = "";
            var jsonParam = "";
            var serviceUrl = "/Home/GetcompanytodayTimeLinedatas";
            ChartManager.GetJsonResult(serviceUrl, jsonParam, false, false, onSuccess, onFailed);
            function onSuccess(jsonData) {

                ObjLeaveType = jsonData;
                ObjLeaveType[0].name;
                ObjLeaveType[0].fromDate;
                ObjLeaveType[0].toDate;

            }
            function onFailed(error) {
                alert(error.statusText);
            }
            return ObjLeaveType;
        },
        GetJsonResult: function (serviceUrl, jsonParams, isAsync, isCache, successCallback, errorCallback) {
            $.ajax({
                type: "Get",
                async: isAsync,
                cache: isCache,
                url: serviceUrl,
                data: jsonParams,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successCallback,
                error: errorCallback
            });
        },

    };
    var ChartHelper = {

        LoadChart: function () {

            var data = ChartManager.GetChartData();
            objectLength = Object.keys(data).length
            console.log(objectLength);
            am4core.ready(function () {

                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                var chart = am4core.create("chartdiv", am4charts.XYChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

                chart.paddingRight = 30;
                chart.dateFormatter.inputDateFormat = "HH:mm:ss";

                var colorSet = new am4core.ColorSet();
                colorSet.saturation = 0.4;
                var arr = [];
                //chart.data = [{
                //    name: "John",
                //    fromDate: "2018-01-01 08:00:00",
                //    toDate: "2018-01-01 10:00:00"}]
                // chart.data = data;

                var data2 = [];

                for (i = 0; i < objectLength; i++) {
                    var v = { name: data[i].name, fromDate: data[i].fromDate, toDate: data[i].toDate }
                    data2.push(v);
                }

                chart.data = data2;
                //  arr.push(data);
                //console.log(arr);
                //  chart.data = arr;
                var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "name";

                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.inversed = true;

                var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                dateAxis.dateFormatter.dateFormat = "HH:mm:ss";
                dateAxis.renderer.minGridDistance = 70;
                dateAxis.baseInterval = { count: 30, timeUnit: "minute" };
                //   dateAxis.max = new Date(2030, 0, 1, 24, 0, 0, 0).getTime();
                dateAxis.strictMinMax = true;
                dateAxis.renderer.tooltipLocation = 0;

                var series1 = chart.series.push(new am4charts.ColumnSeries());
                series1.columns.template.width = am4core.percent(80);
                series1.columns.template.tooltipText = "{name}: {openDateX} - {dateX}";

                series1.dataFields.openDateX = "fromDate";
                series1.dataFields.dateX = "toDate";
                series1.dataFields.categoryY = "name";
                series1.columns.template.propertyFields.fill = "color"; // get color from data
                series1.columns.template.propertyFields.stroke = "color";
                series1.columns.template.strokeOpacity = 1;
                chart.scrollbarX = new am4core.Scrollbar();
            });

        }

    };
</script>

@*<script>
        $.getJSON("/Home/GetTimeLine", function (data) {
            var arr = [];
            var size = Object.keys(data).length;
            for (var i = 0; i < size; i++) {
                var myArray = { x: data[i].Today_date, y: data[i].Total_time };
                arr.push(myArray);
            }

            chart.updateSeries([{
                data: arr
            }])
        });
    </script>
    <script>
        var options = {
            chart: {
                height: 350,
                type: 'area',
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            series: [],
            title: {
                text: 'Ajax Example',
            },
            noData: {
                text: 'Loading...'
            }
        }
        var chart = new ApexCharts(
            document.querySelector("#timelinechart"),
            options
        );
        chart.render();
    </script>*@