﻿@model IEnumerable<ezilineezitaskernew.Models.sp_gettotalprojectslistbyusername_Result>
<style>
    .sorting-icon {
        padding: 0px 5px;
    }
</style>
<!-- BEGIN: Content -->
<div class="content">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">@ViewBag.username <span>Projects</span></h2>

    </div>
    <!-- BEGIN: Datatable -->
    <div class="intro-y datatable-wrapper box p-5 mt-5">
        <table class="table table-report table-report--bordered display datatable w-full">
            <thead>
                <tr>
                    <th class="border-b-2 whitespace-no-wrap"><span class="sorting-icon"><i class="fas fa-sort"></i></span>Project Name</th>
                    <th class="border-b-2 text-center whitespace-no-wrap"><span class="sorting-icon"><i class="fas fa-sort"></i></span>User Name</th>
                    <th class="border-b-2 text-center whitespace-no-wrap"><span class="sorting-icon"><i class="fas fa-sort"></i></span>Date</th>
                    <th class="border-b-2 text-center whitespace-no-wrap"><span class="sorting-icon"><i class="fas fa-sort"></i></span>Status</th>
                    <th class="border-b-2 text-center whitespace-no-wrap"><span class="sorting-icon"><i class="fas fa-sort"></i></span>Notes</th>
                    <th class="border-b-2 text-center whitespace-no-wrap"><span class="sorting-icon"><i class="fas fa-sort"></i></span>Project Hours</th>
                    <th class="border-b-2 text-center whitespace-no-wrap">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @{
                    //BEGIN:Viewprojects list against filtered and username

                    if (!string.IsNullOrEmpty(Convert.ToString(Session["fiteredtodayprojectdatalistbyusername"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_gettodayprojectslistbyusername_Result>)Session["fiteredtodayprojectdatalistbyusername"];
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fiteredyesterdayprojectdatalist");
                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fiteredyesterdayprojectdatalistbyusername"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_getyesterdayprojectslistbyusername_Result>)Session["fiteredyesterdayprojectdatalistbyusername"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fiteredyesterdayprojectdatalistbyusername");

                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fiteredpast7daysprojectdatalistbyusername"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_getpast7dayprojectslistbyusername_Result>)Session["fiteredpast7daysprojectdatalistbyusername"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fiteredpast7daysprojectdatalistbyusername");

                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fiteredpast30daysprojectdatalistbyusername"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_getpast30dayprojectslistbyusername_Result>)Session["fiteredpast30daysprojectdatalistbyusername"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fiteredpast30daysprojectdatalistbyusername");

                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fitereddaterangeprojectdatalistbyusername"])))
                    {

                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_daterangeprojectslistbyusername_Result>)Session["fitereddaterangeprojectdatalistbyusername"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fitereddaterangeprojectdatalistbyusername");

                    }
                    //End:Viewprojects list against filtered and username

                    //BEGIN:Viewprojects list against filtered

                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fiteredtodayprojectdatalist"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_gettodayprojectsdatalist_Result>)Session["fiteredtodayprojectdatalist"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fiteredtodayprojectdatalist");

                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fiteredyesterdayprojectdatalist"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_getyesterdayprojectsdatalist_Result>)Session["fiteredyesterdayprojectdatalist"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fiteredyesterdayprojectdatalist");

                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fitered7daysprojectdatalist"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_getpast7dayprojectsdatalist_Result>)Session["fitered7daysprojectdatalist"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fitered7daysprojectdatalist");

                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fitered30daysprojectdatalist"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_getpast30dayprojectsdatalist_Result>)Session["fitered30daysprojectdatalist"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fitered30daysprojectdatalist");

                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(Session["fitereddaterangeprojectdatalist"])))
                    {
                        var filtereddatalist = (List<ezilineezitaskernew.Models.sp_getdaterangeprojectsdatalist_Result>)Session["fitereddaterangeprojectdatalist"];
                        foreach (var item in filtereddatalist)
                        {
                            <tr>
                                <td class="border-b">
                                    <div class="font-medium whitespace-no-wrap">@item.project_name</div>
                                </td>
                                <td class="text-center border-b">@item.Username</td>
                                <td class="text-center border-b">@item.Date</td>
                                <td class="w-40 border-b">
                                    <div class="flex items-center sm:justify-center text-theme-6"> <i data-feather="check-square" class="w-4 h-4 mr-2"></i> @item.status </div>
                                </td>
                                <td class="text-center border-b">@item.Notes</td>
                                <td class="text-center border-b">@item.project_hours</td>
                                <td class="border-b w-5">
                                    <div class="flex sm:justify-center items-center">
                                        <a class="flex items-center mr-3" href=""> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                                        <a class="flex items-center text-theme-6" href=""> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                                    </div>
                                </td>
                            </tr>
                        }
                        Session.Remove("fitereddaterangeprojectdatalist");

                    }

                    //End:Viewprojects list against filtered
                }
            </tbody>
        </table>
    </div>
    <!-- END: Datatable -->
</div>
<!-- END: Content -->