﻿@model IEnumerable<ezilineezitaskernew.Models.USER>

<style>
    .main-nav-container {
        display: none !important;
    }

    .content {
        margin-top: 10px !important;
    }

    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
        }

            .pagination a.active {
                background-color: #ddd;
                color: black;
                border: 1px solid #ddd;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }

    span.field-validation-error {
        width: 100%;
        display: flex;
        color: brown;
    }

    div#alert-added-offices {
        display: none;
    }

    div#alert-update-offices {
        display: none;
    }

    .lblvalidationmsg {
        width: 100%;
        display: flex;
        color: brown;
    }

    #alert-validation-offices {
        display: none;
    }

    .odd {
        --bg-opacity: 1;
        background-color: #edf2f7;
        background-color: rgba(237, 242, 247, var(--bg-opacity));
    }

    .even {
        background-color: transparent;
    }

    .search-box {
        width: 90%;
        display: flex;
        justify-content: flex-end;
    }
</style>
<!-- BEGIN: Content -->
<div class="content">
    <h2 class="intro-y text-lg font-medium mt-10">
        All Users
    </h2>


    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-12 xxl:col-span-9 grid grid-cols-12 gap-6">
            <div class="col-span-2">
                <div class="mt-2">
                    @if (ViewBag.Officelist != null)
                    {
                        @Html.DropDownList("Offices", ViewBag.Officelist as SelectList, new { @class = "select2 w-full" })
                    }
                    else
                    {
                        @Html.Action("logout", "Account");
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5 overflow-x-auto">
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
            <button class="button text-white bg-theme-1 shadow-md mr-2" id="modal-adduser">Add User</button>


            <div class="w-full sm:w-auto mt-3 sm:mt-0 sm:ml-auto md:ml-0 search-box">
                <div class="w-56 relative text-gray-700">
                    <input type="text" class="input w-56 box pr-10 placeholder-theme-13" placeholder="Search...">
                    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search"></i>
                </div>
            </div>
        </div>
        <!-- BEGIN: Data List -->
        <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table class="table table-report -mt-2" id="tbl-users">
                <thead>
                    <tr>
                        <th class="whitespace-no-wrap">Image</th>
                        <th class="whitespace-no-wrap text-center">UserName</th>
                        <th class="whitespace-no-wrap text-center">Mobile</th>

                        <th class="whitespace-no-wrap text-center">ScreenCast Time</th>
                        <th class="whitespace-no-wrap text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="intro-x">
                                    <td class="w-40 text-center">
                                        <div class="flex">
                                            <div class="w-10 h-10 image-fit zoom-in">
                                                <img alt="Midone Tailwind HTML Admin Template" class="tooltip rounded-full" src="/AdminAssets/Images/@item.UserImage" title="Uploaded at 17 July 2021">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">@item.Username</td>
                                    <td class="text-center">@item.Mobile</td>

                                    <td class="text-center">static</td>
                                    <td class="table-report__action w-56">
                                        <div class="flex justify-center items-center">

                                            <button type="button" class="flex items-center mr-3 btn-edit-fill" value="@item.Id"> <i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </button>
                                            <button class="flex items-center text-theme-6 btn-modal-delete" value="@item.Id"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <!-- END: Data List -->
        <!-- BEGIN: Pagination -->
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-no-wrap items-center">
            <div class="pagination">
                <a href="#" class="pagination-start">&laquo;</a>
                <a href="#">&raquo;</a>
            </div>
        </div>

        <!-- END: Pagination -->
    </div>
    <!-- BEGIN: Delete Confirmation Modal -->

    <div class="modal" id="delete-confirmation-modal">
        <div class="modal__content">
            <div class="p-5 text-center">
                <i data-feather="x-circle" class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                <div class="text-3xl mt-5">Are you sure?</div>
                <div class="text-gray-600 mt-2">Do you really want to delete these records? This process cannot be undone.</div>
            </div>
            <div class="px-5 pb-8 text-center">
                <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancel</button>
                <button type="submit" class="button w-24 bg-theme-6 text-white" id="btn-delete-fill">Delete</button>
            </div>
        </div>
    </div>
    <!-- END: Delete Confirmation Modal -->
</div>
<!-- END: Content -->
@*BEGIN: UserAdd Model *@

<div class="modal" id="superlarge-modal-size-preview">
    <div class="modal__content modal__content--xl p-10 text-center">

        <div class="rounded-md flex items-center px-5 py-4 mb-2 bg-theme-17 text-theme-11" id="alert-added-offices">  Added Success Fully </div>
        <div class="rounded-md flex items-center px-5 py-4 mb-2 bg-theme-31 text-theme-6" id="alert-validation-offices"> Oops! Some Fields are missing</div>
        <div class="rounded-md flex items-center px-5 py-4 mb-2 bg-theme-18 text-theme-9" id="alert-update-offices"> Updated Successfully </div>
        <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
            <h2 class="font-medium text-base mr-auto">Add User Form</h2>

            <div class="dropdown relative sm:hidden">
                <a class="dropdown-toggle w-5 h-5 block" href="javascript:;"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-700"></i> </a>
                <div class="dropdown-box mt-5 absolute w-40 top-0 right-0 z-20">
                    <div class="dropdown-box__content box p-2"> <a href="javascript:;" class="flex items-center p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Download Docs </a> </div>
                </div>
            </div>
        </div>

        <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">

            <div class="col-span-12 sm:col-span-6">
                <label class="flex">UserName:</label>
                <input type="text" name="Username" id="Username" class="input w-full border mt-2 flex-1">
                @Html.ValidationMessage("Username", new { @Id = "msgUsernName", @class = "lblvalidationmsg" })
            </div>

            <div class="col-span-12 sm:col-span-6">
                <label class="flex">Email:</label>
                <input type="text" name="email" id="email" class="input w-full border mt-2 flex-1">
                @Html.ValidationMessage("Email", new { @Id = "msgEmail", @class = "lblvalidationmsg" })
            </div>

            <div class="col-span-12 sm:col-span-6">
                <label class="flex">Mobile:</label>
                <input type="text" name="mobile" id="mobile" class="input w-full border mt-2 flex-1">
                @Html.ValidationMessage("Mobile", new { @Id = "msgMobile", @class = "lblvalidationmsg" })
            </div>

            <div class="col-span-12 sm:col-span-6">
                <label class="flex">Password:</label>
                <input type="password" name="password" id="password" class="input w-full border mt-2 flex-1">
                @Html.ValidationMessage("Password", new { @Id = "msgpasword", @class = "lblvalidationmsg" })
            </div>

            <div class="col-span-12 sm:col-span-6">
                <label class="flex">Image:</label>
                <input type="file" name="UserImage" id="UserImage" class="input w-full border mt-2 flex-1">
                @Html.ValidationMessage("Image", new { @Id = "msgUserImage", @class = "lblvalidationmsg" })
            </div>
            @if (ViewBag.Officelist != null)
            {
                if (Session["UserRole"].ToString() != "SuperAdmin")
                {
                    <div class="col-span-12 sm:col-span-6">
                        <label class="flex">Office:</label>
                        @Html.DropDownList("OfficeID", ViewBag.Officelist as SelectList, "Select Offices", new { @class = "input w-full border mt-2" })

                        @Html.ValidationMessage("OfficeID", new { @Id = "msgOffice", @class = "lblvalidationmsg" })
                    </div>
                }

            }
            else
            {
                @Html.Action("logout", "Account");
            }

            @if (Session["UserRole"].ToString() == "SuperAdmin")
            {
                <div class="col-span-12 sm:col-span-6">
                    <label class="flex">Company:</label>
                    @Html.DropDownList("CompanyID", ViewBag.companylist as SelectList, "Select Company", new { @class = "input w-full border mt-2" })
                    @Html.ValidationMessage("CompanyID", new { @Id = "msgCompany", @class = "lblvalidationmsg" })
                </div>
            }

            @if (Session["UserRole"].ToString() == "SuperAdmin")
            {
                <div class="col-span-12 sm:col-span-6">
                    <label class="flex">Select Role:</label>
                    @Html.DropDownList("rolelist", ViewBag.rolelist as SelectList, new { @class = "input w-full border mt-2" })
                    @Html.ValidationMessage("rolelist", new { @Id = "msgrole", @class = "lblvalidationmsg" })
                </div>
            }
            <div class="col-span-12 sm:col-span-6">
                <label>Gender:</label>
                <input type="radio" id="male" name="gender" value="male" class="input w-full border mt-2 flex-1">
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female" class="input w-full border mt-2 flex-1">
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="other" class="input w-full border mt-2 flex-1">
                <label for="other">Other</label>
                @Html.ValidationMessage("Gender", new { @Id = "msgGender", @class = "lblvalidationmsg" })
            </div>

        </div>
        <div class="px-5 py-3 text-right border-t border-gray-200">
            <button type="button" class="button w-20 border text-gray-700 mr-1" id="btncancel">Cancel</button>
            <button type="submit" class="button  bg-theme-1 text-white" id="btn-adduser-fill">Add User</button>
            @*<a href="javascript:;" data-toggle="modal" data-target="#success-modal-preview" id="btnsend" class="button inline-block bg-theme-1 text-white">Add User</a>*@
        </div>

    </div>
</div>

@*END:UserAdd Model  *@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Offices").on('change', function () {
            var officeId = $("#Offices").val();

            $.ajax({
                url: "/Home/GetUsersByOfficeID",
                type: "GET",
                data: {
                    officeid: officeId
                },
                datatype: "JSON",
                success: function (res) {
                    var s = "";
                    var lengtharr = Object.keys(res.data).length;
                    if (lengtharr > 0) {
                        for (var i = 0; i < lengtharr; i++) {

                            s += '<tr class="intro-x"><td class="w-40 text-center"><div class="flex"><div class="w-10 h-10 image-fit zoom-in"><img alt="Midone Tailwind HTML Admin Template" class="tooltip rounded-full" src="/AdminAssets/Images/' + res.data[i].UserImage + '"title="Uploaded at 17 July 2021"></div></div></td>' +
                                '<td class="text-center">' + res.data[i].Username + '</td>'
                                +
                                '<td class="text-center">' + res.data[i].Mobile + '</td>'
                                +
                                '<td class="text-center">' + 2 + '</td>'

                                +
                                '<td class="table-report__action w-56"> <div class="flex justify-center items-center"><button type="button" class="flex items-center mr-3 btn-edit-fill btn-action" value="' + res.data[i].Id + '"><i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </button><button type="button" class="flex items-center text-theme-6 btn-modal-delete btn-action" value="' + res.data[i].Id + '"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </button></div></td></tr>'
                        }
                    }
                    else {

                        s += "NO Data Available";
                    }
                    $("table tbody").html(s);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
        $("#btn-adduser-fill").click(function () {
            if ($("#Username").val() == "") {
                $("#alert-validation-offices").show();
                $("#msgUsernName").text("Select UserName");
            }
            if ($("#email").val() == "") {
                $("#alert-validation-offices").show();
                $("#msgEmail").text("Select Email");
            }
            if ($("#mobile").val() == "") {
                $("#alert-validation-offices").show();
                $("#msgMobile").text("Select Mobile");
            }
            if ($("#password").val() == "") {
                $("#alert-validation-offices").show();
                $("#msgpasword").text("Select Password");
            }
            if ($("#UserImage").val() == "") {
                $("#alert-validation-offices").show();
                $("#msgUserImage").text("Select Image");
            }
            //var c = JSON.parse(@Html.Raw(Session["UserRole"]));
            //if (c == "Admin")
            //{
              //  if ($("#OfficeID option:selected").text() == "Select Offices")
               // {
               // $("#alert-validation-offices").show();
               // $("#msgOffice").text("Select Office");
               // }
           // }

            if ($("#CompanyID option:selected").text() == "Select Company") {
                $("#alert-validation-offices").show();
                $("#msgCompany").text("Select Company");
            }
            if (!$("#male").is(':checked') == true && !$("#female").is(':checked') == true) {
                $("#alert-validation-offices").show();
                $("#msgGender").text("Select Gender");
            }
            else {
                var formdata = new FormData();
                var files = $("#UserImage").get(0).files;
                formdata.append("file", files[0]);
                formdata.append("Username", $("#Username").val());
                formdata.append("email", $("#email").val());
                formdata.append("mobile", $("#mobile").val());
                formdata.append("password", $("#password").val());
                if ($("#OfficeID").val() != null)
                {
                    formdata.append("OfficeID", $("#OfficeID").val());
                }

                formdata.append("CompanyID", $("#CompanyID").val());
                if ($('#rolelist').val() != null) {
                    formdata.append("RoleID", $("#rolelist").val());
                }
                formdata.append("gender", $("#male").val() != null ? $("#male").val() : $("#female").val());
                if (files[0].name != "") {
                    formdata.append("UserImage", files[0].name);
                }

                $.ajax({
                    url: "/Home/AddUser",
                    type: "POST",
                    data: formdata,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        var s = "";

                        if (res.text == "Exsist") {
                            $("#alert-update-offices").hide("slow");
                            $("#alert-validation-offices").hide('slow');
                            $("#alert-added-offices").hide("slow");
                            alert("UserName or Email Already Exsist");
                        }
                        else {
                            if (res.text == "Update") {
                                var lengtharr = Object.keys(res.data).length;
                                for (var i = 0; i < lengtharr; i++) {
                                    s += '<tr class="intro-x"><td class="w-40 text-center"><div class="flex"><div class="w-10 h-10 image-fit zoom-in"><img alt="Midone Tailwind HTML Admin Template" class="tooltip rounded-full" src="/AdminAssets/Images/' + res.data[i].UserImage + '"title="Uploaded at 17 July 2021"></div></div></td>' +
                                        '<td class="text-center">' + res.data[i].Username + '</td>'
                                        +
                                        '<td class="text-center">' + res.data[i].Mobile + '</td>'
                                        +
                                        '<td class="text-center">' + 2 + '</td>'

                                        +
                                        '<td class="table-report__action w-56"> <div class="flex justify-center items-center"><button type="button" class="flex items-center mr-3 btn-edit-fill btn-action" value="' + res.data[i].Id + '"><i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </button><button type="button" class="flex items-center text-theme-6 btn-modal-delete btn-action" value="' + res.data[i].Id + '"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </button></div></td></tr>'
                                }
                                $("#alert-update-offices").fadeIn("slow").delay(5000).hide('slow');
                                $("#alert-validation-offices").hide('slow');
                                $("#alert-added-offices").hide("slow");
                                $("#btn-adduser-fill").text("Add User");
                                var getindex = sessionStorage.getItem("index");
                                var getindexinc = parseInt(getindex) + (+1);
                                document.getElementById("tbl-users").deleteRow(getindexinc);
                                $("table tbody tr:nth-child(" + getindex + ")").after(s);
                            }
                            else {
                                var rowCount = $('table >tbody >tr').length;
                                for (var i = 0; i < 1; i++) {
                                    if (res.text == "Add") {

                                        s += '<tr class="intro-x"><td class="w-40 text-center"><div class="flex"><div class="w-10 h-10 image-fit zoom-in"><img alt="Midone Tailwind HTML Admin Template" class="tooltip rounded-full" src="/AdminAssets/Images/' + res.data[i].UserImage + '"title="Uploaded at 17 July 2021"></div></div></td>' +
                                            '<td class="text-center">' + res.data[i].Username + '</td>'
                                            +
                                            '<td class="text-center">' + res.data[i].Mobile + '</td>'
                                            +
                                            '<td class="text-center">' + 2 + '</td>'

                                            +
                                            '<td class="table-report__action w-56"> <div class="flex justify-center items-center"><button type="button" class="flex items-center mr-3 btn-edit-fill btn-action" value="' + res.data[i].Id + '"><i data-feather="check-square" class="w-4 h-4 mr-1"></i> Edit </button><button type="button" class="flex items-center text-theme-6 btn-modal-delete btn-action" value="' + res.data[i].Id + '"> <i data-feather="trash-2" class="w-4 h-4 mr-1"></i> Delete </button></div></td></tr>'
                                    }

                                }
                                $("#alert-added-offices").fadeIn("slow").delay(5000).hide('slow');
                                $("#alert-validation-offices").hide();
                                $("#alert-update-offices").hide("slow");
                                //$("table tbody:nth-child(" + rowCount + ")").after(s);
                                $("table tbody:last").after(s);
                            }
                        }
                        $("#Username").val("");
                        $("#email").val("");
                        $("#mobile").val("");
                        $("#password").val("");
                        $("#UserImage").val("");
                        if ($("#male").is(":checked")) {
                            $("#male").prop('checked', false);
                        }
                        else {
                            $("#female").prop('checked', false);
                        }
                        $("#UserImage").val("");

                        $("#msgUsernName").text("");
                        $("#msgEmail").text("");
                        $("#msgMobile").text("");
                        $("#msgpasword").text("");
                        $("#msgUserImage").text("");
                        $("#msgOffice").text("");
                        $("#msgCompany").text("");
                        $("#msgGender").text("");
                    },
                    error: function (err) {
                        console.log(err);
                        $("#warning-modal-preview").modal("show");
                    }
                });
            }
        });
        $("#tbl-users").on("click", '.btn-edit-fill', function () {
            var setindex = $(this).closest('tr').index();
            sessionStorage.setItem("index", setindex);
            var id = $(this).val();
            $.ajax({
                url: "/Home/ViewUsers",
                type: "GET",
                data: {
                    id: id
                },
                datatype: "JSON",
                success: function (res) {
                    if (res.Id != null) {
                        $("#btn-adduser-fill").text("Update User");
                    }
                    $("#Username").val(res.Username);
                    $("#mobile").val(res.Mobile);
                    $("#officelocation").val(res.OfficeID);
                    $("#password").val(res.Password);
                    if (res.Gender == "male") {
                        $("#male").prop("checked", true);
                    }
                    else {
                        $("#female").prop("checked", true);
                    }

                    $("#email").val(res.Email);
                    $("#superlarge-modal-size-preview").modal("show");
                },
                error: function (err) {
                    console.log(err);
                }
            })
        });
        $("#modal-adduser").click(function () {
            $("#superlarge-modal-size-preview").modal("show");
        });
        $("#tbl-users").on("click", '.btn-modal-delete', function () {
            var setindex = $(this).closest('tr').index();
            var getindexinc = parseInt(setindex) + (+1);
            var obj = $(this);
            var delval = $(this).val();
            $("#delete-confirmation-modal").modal("show");
            $("#btn-delete-fill").click(function (event) {
                event.preventDefault();
                $.ajax({
                    url: "/Home/DeleteUser",
                    type: "GET",
                    data: {
                        delid: delval
                    },
                    success: function (res) {
                        // $(obj).closest('tbody tr').remove();
                        document.getElementById("tbl-users").deleteRow(getindexinc);
                        $("#delete-confirmation-modal").modal("hide");
                    }
                });
            });
        });


        // $(this).on("click", ".paginationchild", function () {
        //    var page = $(this).text();
        //    var num_i = parseInt(page);
        //    var v = num_i + 1;
        //    var pageIndex = page - 1;
        //    $.ajax({
        //        url: "/Home/ViewUsers",
        //        type: "GET",
        //        data: {
        //            pageindex: pageIndex
        //        },
        //        datatype: "html",
        //        success: function (res) {
        //            sessionStorage.setItem("c", v);
        //            window.location.href = "/Home/ViewUsers?pageindex=" + pageIndex;

        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    });
        //});


        $("#btncancel").click(function () {
            $("#superlarge-modal-size-preview").modal('hide');
        });
        $.ajax({
            url: "/Home/GetUsersRow",
            type: "GET",
            datatype: "JSON",
            success: function (res) {
                var s = "";
                var totalrows = res;
                var ceilrows = totalrows / 5;
                var roundoffval = Math.ceil(ceilrows);
                for (var i = 1; i <= roundoffval; i++) {
                    s += '<a href="#" class="paginationchild" id="' + i + '">' + i + '</a>';
                }
                $(".pagination-start").after(s);
                // $('.pagination').parent().parent().children(':nth-child(5)').children().addClass('active');
                if (sessionStorage.getItem("c") != null) {
                    var c = sessionStorage.getItem("c");

                    $(".pagination").children("a:nth-child(" + c + ")").addClass('active');
                }
                else {
                    $(".pagination").children("a:nth-child(2)").addClass('active');

                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    });
</script>